{% extends 'base.html.twig' %}

{% block title %}GameTroc - Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="h3 mb-3 ">
				<h3>Vous êtes déjà connecté en tant que
					{{ app.user.pseudo }},
					<a href="{{ path('app_logout') }}">deconnexion</a>
				</h3>
			</div>
		{% else %}
			<h3 class="h3 mb-3 font-weight-normal uk-align-center uk-margin-left">Veuillez vous connecter ou vous
				<a href="{{ path('app_register') }}">inscrire ici</a>
			</h3>
			<div class="customForm">
				<p>
					<label for="inputPseudo">Pseudo</label>
					<input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="uk-input" autocomplete="username" required autofocus></p>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="uk-input" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				<button class="uk-button uk-button-secondary uk-margin-top" type="submit">
					Connexion
				</button>
			</div>
		</form>
	{% endif %}
{% endblock %}
