{% extends 'base.html.twig' %}

{% block title %}GameTroc - Accueil
{% endblock %}

{% block body %}
	{% for annonce in annonces | slice(0,3) %}

		<div class="uk-card uk-card-default uk-width-1-2@m">
			<div class="uk-card-header">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img class="" width="200" height="200" src="{{ asset('upload/'~ annonce.photo) }}">
					</div>
					<div class="uk-width-expand">
						<h3 class="uk-card-title uk-margin-remove-bottom">{{ annonce.titre}}</h3>
						<p class="uk-text-meta uk-margin-remove-top">
							Par
							{{ annonce.user }}
							le
							{{ annonce.dateCreation | date('d/m/Y') }}
						</p>
					</div>
				</div>
			</div>
			<div class="uk-card-footer">
				<a href="{{ path('show_annonce',{id:annonce.id} ) }}">Voir L'annonce</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}
