{% extends 'base.html.twig' %}

{% block title %}GameTroc - Accueil
{% endblock %}

{% block body %}
	<div class="annoncesListCenter">
		{% if is_granted('ROLE_USER') %}
			<a class="uk-button uk-button-secondary uk-margin-top" href="{{ path('add_annonce') }}">POSTER UNE ANNONCE</a>
		{% else %}
			<div>
				<p class="texteBienvenue">Bonjour ! Bienvenue sur
					<b>GameTroc</b>
					! Vous pouvez consulter les annonces,<a style="display:span" href="{{path('app_login')}}">
						connectez-vous</a>
					si vous vouler en poster une ou y répondre.</p>
				<p>Si vous n'avez pas de compte,<a href="{{path('app_register')}}">
						inscrivez vous</a>!
				</p>
				<p>Consultez la
					<a href="{{path('rules')}}">charte du site</a>
				</p>
			</div>
		{% endif %}
		<p>Il y a actuellement
			{{ nbAnnonces }}
			annonces sur le site.</p>


		<h1>Annonces récentes</h1>
		<div class="annonceRecentes" uk-grid>
			{% for annonce in annonces %}
				<a href=" {{ path('show_annonce',{id:annonce.id} ) }}">
					<div class="uk-card uk-card-default uk-card-body uk-card-hover annonceCard">
						<img class="homeImageCard" src="{{ asset('upload/'~ annonce.photo) }}" alt="photo du jeu">
						<h4 class="">{{ annonce.titre }}</h4>
						<p><img class="" width="50" height="50" src="{{ asset('upload/'~ annonce.user.avatar) }}">
							Par
							{{ annonce.user }}, le :
							{{ annonce.dateCreation | date('d/m/Y') }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</p>
</div>{% endblock %}
