{% extends 'base.html.twig' %}

{% block title %}GameTroc - Accueil
{% endblock %}

{% block body %}
	<div class="annoncesListCenter">
		<h1>Annonces récentes</h1>
		<div class="" uk-grid>
			{% for annonce in annonces %}
				<a href=" {{ path('show_annonce',{id:annonce.id} ) }}">
					<div class="uk-card uk-card-default uk-card-body uk-card-hover annonceCard">
						<img class="" src="{{ asset('upload/'~ annonce.photo) }}" alt="photo du jeu" width="200" height="200">
						<h4 class="">{{ annonce.titre }}</h4>
						<p><img class="" width="50" height="50" src="{{ asset('upload/'~ annonce.user.avatar) }}">
							Par
							{{ annonce.user }}, le :
							{{ annonce.dateCreation | date('d/m/Y') }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
