{% extends 'base.html.twig' %}

{% block title %}GameTroc - Accueil
{% endblock %}

{% block body %}
	<div class="annoncesListCenter">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nobis deleniti quod fuga autem magnam iusto sed officiis vero, non labore porro laborum nihil cupiditate distinctio in nesciunt dicta ea.
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, eius. Facilis tempore, sit cumque tenetur accusantium temporibus quas. Quibusdam quaerat expedita dolor? Reprehenderit voluptatem quisquam aut cum soluta? Consectetur, repellendus!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia reiciendis est reprehenderit placeat cumque pariatur maxime id quis hic saepe impedit totam libero delectus molestias doloribus a, vitae veniam odit.</p>
		<h1>Annonces récentes</h1>
		<div class="annonceRecentes" uk-grid>
			{% for annonce in annonces %}
				<a href=" {{ path('show_annonce',{id:annonce.id} ) }}">
					<div class="uk-card uk-card-default uk-card-body uk-card-hover annonceCard">
						<img class="" src="{{ asset('upload/'~ annonce.photo) }}" alt="photo du jeu" width="200" height="200">
						<h4 class="">{{ annonce.titre }}</h4>
						<p><img class="" width="50" height="50" src="{{ asset('upload/'~ annonce.user.avatar) }}">
							Par
							{{ annonce.user }}, le :
							{{ annonce.dateCreation | date('d/m/Y') }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
