{% extends 'base.html.twig' %}

{% block title %}GameTroc - Inscription
{% endblock %}

{% block body %}
	<h1 class="uk-margin-left">Inscription</h1>
	<div class="customForm">
		{{ form_start(registrationForm) }}
		<p>{{ form_row(registrationForm.pseudo) }}</p>
		<p>{{ form_row(registrationForm.email) }}</p>
		<p>{{ form_row(registrationForm.plainPassword) }}</p>
		<div class="customFormAvatar">
			{{ form_row(registrationForm.avatar) }}
		</div>

	</div>
	<div class="customForm">
		<p>
			Cochez la case après avoir
			<a href="{{path('rules')}}">
				lu la charte ici</a>
		</p>
	</p>
	<p>{{ form_row(registrationForm.agreeTerms) }}</p>


</p></div><button type="submit" class="uk-button uk-button-secondary uk-margin-top">S'incrire</button>{{ form_end(registrationForm) }}{% endblock %}
