{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if (app.user.banni == 0) %}
	<div class="addAnnonceRegles">
		<h1>Ajouter une annonce</h1>
		<p>Merci de préciser les éléments suivant dans votre annonce :</p>
		<li>L'état du jeu (neuf, comme neuf, abimé, etc...),</li>
		<li>S'il manque des pièces, et lesquelles,</li>
		<li>Contre quel(s) jeu(x) vous souhaiteriez échanger le votre. N'hésitez pas à faire plusieurs propositions.</li>
	</div>
	{{ form_start(formAnnonce, {'attr':{'novalidate':'novalidate'}}) }}
	<div class="customForm">
		{{ form_label(formAnnonce.titre) }}
		{{ form_widget(formAnnonce.titre) }}
	</div>
	<div class="customForm">
		{{ form_label(formAnnonce.texte) }}
		{{ form_widget(formAnnonce.texte) }}
	</div>

	{{ form_end(formAnnonce) }}
{% else %}
	<h3 class="uk-alert-danger ">Vous avez été bloqué pour non respect des règles de GameTroc.</br>
	Vous ne pouvez ni poster d'annonces, ni y répondre.</h3>{% endif %}{% endblock %}
