{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="uk-card uk-card-default uk-width-1-2@m">
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
					<img class="" width="200" height="200" src="{{ asset('upload/'~ annonce.user.avatar) }}">
				</div>
				<div class="uk-width-expand">
					<p class="uk-text-meta uk-margin-remove-top">
						Par
						{{ annonce.user }}
					</p>
				</br>
				Membre depuis
				{{ annonce.user.dateCreation | date('d/m/Y')}}
			</p>
		</br>
		<p>
			le
			{{ annonce.dateCreation | date('d/m/Y') }}
		</p>
	</div>
	<div class="uk-card-body">
		<h3 class="uk-card-title uk-margin-remove-bottom">{{ annonce.titre}}</h3>
		<div class="uk-width-auto">
			<img class="" width="200" height="200" src="{{ asset('upload/'~ annonce.photo) }}">
		</div>
		<p>{{ annonce.texte | raw }}</p>
	</div>
	<div>
		<a href="{{ path('add_reponse') }}">Répondre à l'annonce</a>
	</div>
	<div>
		{{ form_start(formReponse, {'attr':{'novalidate':'novalidate'}}) }}
		{{ form_label(formReponse.texte) }}
		{{ form_widget(formReponse.texte) }}
		{{ form_end(formReponse) }}
		<a href="{{ path('add_reponse') }}">Répondre</a>
	</div>
</div></div></div></div>{% endblock %}
