{% extends 'base.html.twig' %}

{% block title %}GameTroc - Annonces
{% endblock %}

{% block body %}
	<div class="annoncesListCenter">
		<h1>Liste des annonces d'échange</h1>
		<a class="uk-button uk-button-secondary uk-margin-top" href="{{ path('add_annonce') }}">POSTER UNE ANNONCE</a>
		<div class=" uk-flex uk-flex-center uk-flex-wrap">
			{% for annonce in annonces %}

				<div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-left uk-margin-top annonceCard">
					<a href=" {{ path('show_annonce',{id:annonce.id} ) }}">
						<img class="imageAnnonce" src="{{ asset('upload/'~ annonce.photo) }}" alt="photo du jeu">
						<p class="uk-margin-remove uk-text-lead">{{ annonce.titre }}</p>
						<p class="userCard uk-text-default"><img class="" width="50" height="50" src="{{ asset('upload/'~ annonce.user.avatar) }}">
							Par
							{{ annonce.user }}, le :
							{{ annonce.dateCreation | date('d/m/Y') }}</p>
					</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('suppr_annonce', {id : annonce.id}) }}">
							<i class="fas fa-trash-alt"></i>
						</a>
					{% endif %}
				</div>


			{% endfor %}
		</div>
		<div class="uk-flex-center uk-margin-top" uk-margin>
			<h3>
				{{ knp_pagination_render(annonces)}}</h3>
		</div>
		<a class="uk-button uk-button-secondary uk-margin-top" href="{{ path('add_annonce') }}">POSTER UNE ANNONCE</a>
	</div>

{% endblock %}
