{% extends 'base.html.twig' %}

{% block title %}GameTroc - Annonces
{% endblock %}

{% block body %}
	<div class="annoncesListCenter">
		<h1>Liste des annonces d'échange</h1>
		<a class="uk-button uk-button-secondary uk-margin-top" href="{{ path('add_annonce') }}">POSTER UNE ANNONCE</a>
		<div class="" uk-grid>
			{% for annonce in annonces %}
				<a href=" {{ path('show_annonce',{id:annonce.id} ) }}">
					<div class="uk-card uk-card-default uk-card-body uk-card-hover annonceCard">
						<img class="imageAnnonce" src="{{ asset('upload/'~ annonce.photo) }}" alt="photo du jeu">
						<h3 class="uk-margin-remove">{{ annonce.titre }}</h3>

						<p><img class="" width="50" height="50" src="{{ asset('upload/'~ annonce.user.avatar) }}">
							Par
							{{ annonce.user }}, le :
							{{ annonce.dateCreation | date('d/m/Y') }}</p>
					</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('suppr_annonce', {id : annonce.id}) }}">
							<i class="fas fa-trash-alt"></i>
						</a>
					{% endif %}
				</div>


			{% endfor %}
		</div>
		<a class="uk-button uk-button-secondary uk-margin-top" href="{{ path('add_annonce') }}">POSTER UNE ANNONCE</a>
	</div>

{% endblock %}
