{% extends 'base.html.twig' %}

{% block title %}GameTroc -
	{{ annonce.titre }}
{% endblock %}

{% block body %}
	<section class="section-annonce">
		<section class="section-user">
			<div class="ProfilCard">
				<img class="" width="100" height="100" src="{{ asset('upload/'~ annonce.user.avatar) }}">
			</div>
			<div class="uk-width-expand ">
				<p class="uk-margin-remove-top">
					Par
					{{ annonce.user }}
				</p>
				<p class="uk-text-meta uk-margin-remove-top">Membre depuis
					{{ annonce.user.dateCreation | date('d/m/Y')}}
				</p>
				{% if is_granted('ROLE_ADMIN') %}
					{% if ( annonce.user.banni == 0) %}
						<a href="{{ path('ban', {id : annonce.user.id}) }}">
							<i class="fas fa-ban"></i>
						</a>
					{% else %}
						<a href="{{ path('ban', {id : annonce.user.id}) }}">
							<i class="fas fa-check"></i>
						</a>
					{% endif %}

				{% endif %}
			</div>
		</section>
		<section class="section-image">
			<div class="">
				<img class="" width="200" height="200" src="{{ asset('upload/'~ annonce.photo) }}">
			</div>
		</section>
		<section class="section-description">
			<section class="section-jeu">
				<h3 class="uk-padding-remove-bottom uk-padding-remove-left">
					{{ annonce.titre }}
				</h3>
				<p class="uk-text-meta ">
					le
					{{ annonce.dateCreation | date('d/m/Y') }}
				</p>
			</section>

			<section class="section-texte">
				<div class="showAnnonceTexte">
					{{  annonce.texte | raw }}
				</div>
				<div class="section-moderation">
					{% if (app.user == annonce.user) or (is_granted('ROLE_ADMIN')) %}
						<a href=" {{ path('edit_annonce', {id : annonce.id} ) }}">
							<i class="fas fa-edit">
								Editer l'annonce</i>
						</a>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('suppr_annonce', {id : annonce.id}) }}">
							<i class="fas fa-trash-alt"></i>
						</a>

					{% endif %}
				</div>
			</section>
		</section>
	</section>
	{% for reponse in reponses %}
		<section class="section-reponse">
			<section class="section-user">
				<img class="" width="100" height="100" src="{{ asset('upload/'~ reponse.user.avatar) }}">
				<div class="uk-width-expand ">
					<p class="uk-margin-remove-top">
						Par
						{{ reponse.user }}
					</p>
					<p class="uk-text-meta uk-margin-remove-top">Membre depuis
						{{ annonce.user.dateCreation | date('d/m/Y')}}
					</p>
				</section>
				<section class="section-reponse-flex">
					<section class="section-reponse-texte">
						<p>{{ reponse.texte | raw }}</p>
					</section>

					{% if is_granted('ROLE_ADMIN') %}
						<section class="section-edit">
							<a href="{{ path('suppr_reponse', {id : reponse.id}) }}">
								<i class="fas fa-trash-alt"></i>
							</a>
						</section>
					{% endif %}
				</section>
			</section>
		{% endfor %}
		<div class="uk-flex-center uk-margin-top" uk-margin>
			<h3>
				{{ knp_pagination_render(reponses)}}</h3>
		</div>

		<div class="btnSousAnnonce">

			{% if is_granted('ROLE_USER') %}
				<a class=" uk-button uk-button-secondary uk-margin-top" href=" {{ path('add_reponse', {id: annonce.id} ) }}">PROPOSER UN ECHANGE</a>
			{% else %}
				<a class="uk-button uk-button-secondary uk-margin-top" href="{{ path('app_login', {id: annonce.id}) }}">CONNECTEZ-VOUS POUR PROPOSER UN ECHANGE</a>
			{% endif %}
			{% if app.user == annonce.user %}
				<a class="btnSuppr uk-button uk-button-secondary uk-margin-top" href=" {{ path('suppr_annonce', {id: annonce.id} ) }}">SUPPRIMER MON ANNONCE</a>
			{% endif %}
		</div>

	{% endblock %}
