{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="uk-card uk-card-default uk-width-1-2@m">
		<div class="uk-card-header uk-margin-left">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="">
					<img class="" width="100" height="100" src="{{ asset('upload/'~ annonce.user.avatar) }}">
				</div>
				<div class="uk-width-expand ">
					<p class="uk-margin-remove-top">
						Par
						{{ annonce.user }}
					</p>

					<p class="uk-text-meta uk-margin-remove-top">Membre depuis
						{{ annonce.user.dateCreation | date('d/m/Y')}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="uk-card uk-card-default uk-card-header uk-grid-small uk-flex-middle uk-width-1-2@m " uk-grid>
		<div class="">
			<img class="" width="200" height="200" src="{{ asset('upload/'~ annonce.photo) }}">
		</div>
		<div class="">
			<h3 class="uk-padding-remove-bottom uk-padding-remove-left">
				{{ annonce.titre }}
			</h3>
			<p class="uk-text-meta ">
				le
				{{ annonce.dateCreation | date('d/m/Y') }}
			</p>
			<p class="uk-text-meta ">
				{{  annonce.texte | raw }}
			</p>
		</div>
	</div>
{% endblock %}
