{% extends 'base.html.twig' %}

{% block title %}GameTroc - Mon Compte
{% endblock %}

{% block body %}
	<div>
		<p>Bonjour
			{{ app.user.prenom}}</p>
		<p>Email :
			{{ app.user.email }}</p>
		<p>pseudo :
			{{ app.user.pseudo }}</p>
		<p>Inscription le :
			{{ app.user.dateCreation | date('d/m/Y') }}</p>
		<p>Adresse :
			{{ app.user.adresse }}</p>
		<p>code postal :
			{{ app.user.cp }}</p>
		<p>Ville :
			{{ app.user.ville }}</p>
		<p>Avatar :
			<img class="" width="100" height="100" src="{{ asset('upload/'~ app.user.avatar) }}"></p>
	</div>
{% endblock %}
